<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Runaway Bride Proposal MadLib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Runaway Bride Proposal MadLib</h1>
    <p>Look, I guarantee there`ll be @Model.GetAdjective1() times. I guarantee that at some @Model.GetNoun1(), @Model.GetNumber() or both of us is gonna want to get out of this @Model.GetNoun2(). But I also guarantee that if I don`t ask you to be @Model.GetAdjective2(), I`ll @Model.GetVerb() it for the rest of my @Model.GetNoun3(), because I know, in my @Model.GetBodyPart(), you`re the @Model.GetAdjective3() one for me.</p>	
  </body>
</html>
